.search-options {
    width: 100%;
}

#corpus-search-box {
    display: block;
    width: 100%;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 40px;
    outline: none;
    margin-bottom: 10px;
}

#manxSearch {
    margin-right: 0.5em;
}

.search-language label {
    font-weight: bold;
}

#manxSearchLabel {
    margin-left: 0.5em;
}


.document-name {
    display: inline;
}

.full-search-results thead td {
    font-weight: bold;
    padding-right: 10px;
}

.search-buttons {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.advanced-options {
    padding-top: 3px;
    padding-bottom: 3px;
}

.advanced-options summary {
    outline: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: gainsboro;
}

th {
    border-bottom: 1px solid gray;
}