<footer class="site-footer">
    <span>
        Maintained by David Allison · A Manx Language Research Group project<br/>
        With thanks to <a href="/contributions">all the volunteers</a> who transcribe, translate &amp; contribute texts.
    </span>
    <span><a href="https://github.com/david-allison/manx-corpus-search">Free &amp; open source on GitHub</a></span>
</footer>
