.languageSelectorButtonContainer {
    display: inline-block; 
    min-width: 85px;
    margin-top: auto;
    margin-bottom: auto;
}

.languageSelectorButton {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
}