mark.textHighlight {
    background-color: yellow;
}

mark.textHighlightAlternate {
    background-color: #b0edde;
}

.noteRow {
    background-color: aliceblue;
    font-size: x-small;
    padding: 0.15rem;
    text-align: center;
}